@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-playfair), Georgia, serif;
}

/* Base Styles */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

  h1, h2, h3, h4, h5, h6, button {
    font-family: var(--font-display);
  }
}
